body {
 border: 2px solid rgb(0, 0, 0);
 padding: 20px;
 margin: 12px;
 background-color: lightblue; 
}
img {
  width: 230px;
  height: 230px;
  float: left;
  clear: both;
  margin-right: 50px; 
}
p.about{
  font-family: 'Courier New', Courier, monospace;
}

}